<!-- The to do list -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>revisiontools</title>
    <link rel="stylesheet" href="revisiontools.css">
</head>
<body>
    <!--Holds all the items on the page giving them the same general style feature-->
    <div class="main-container">
        <div class="container">
            <nav>
                <a href=""><img src="images/the logo.png" alt="Logo"></a>
            </nav>
            <div class="todo-app">
                <h2>To-Do List <img src="images/to do list 2 .png"></h2>
                <div class="row">
                    <!--Allows the user to enter a task-->
                    <input type="text" id="input-box" placeholder="Enter Item">
                    <button onclick="addTask()">Add</button>
                </div>
                <ul id="list-container">
                    <li class="checked">Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                </ul> </div>
        </div> 
        <!-- The timer-->
     <!---   <div class="container2">
            <div class="timer-display">
                00:00:00
            </div>
            <div class="buttons">
                <button id="start-timer">Start</button>
                <button id="pause-timer">Pause</button>
                <button id="reset-timer">Reset</button>
            </div>
        </div>
    </div>-->

    <!--The Timer-->
    <div class ="timer-container">
        <h2>Set Pomodoro Timer </h2>
        <div id = "pomodoro-timer">
            <div id = "timer display">00:00:00</div>
            <button id = "start-btn">Start</button>
            <button id="pause-btn">Pause</button>
            <button id="reset-btn">Reset</button>
        </div>
        <!--Timer for days - down to exams-->
        <label for ="countdown-date">Choose a time:</label>
        <input type = "datetime-local" id = "countdown-date">
        <button onclick = "startCountdown()">Start</button>
        <div id = "countdown">
            <span id = "hours"></span>
            <span id = "minutes"></span>
            <span id = "seconds"></span>
        </div>
    </div>

    <script src="tools.js"></script>
    <script src="timer.js"></script>
</body>
</html>